@use "../../../styles/mixin" as m;

.TasteGallery {
  position: relative;
  padding: 40vh 300px;
  z-index: 10;
  color: var(--color-dark);
  background-color: var(--color-taste-background);

  .TasteGallery__heading {
    width: fit-content;
    height: 100vh;
  }

  .TasteGallery__stickyHeading {
    position: sticky;
    top: 200px;
    z-index: 1;
  }

  .TasteGallery__category {
    margin-top: 88px;
    font-size: 16px;
    font-family: var(--font-family-serif, cochin, serif);
    font-style: italic;
    letter-spacing: 0.04em;
  }

  .TasteGallery__images {
    margin-top: 20vh;
    column-count: 3;
    column-gap: 16px;

    li {
      max-width: 360px;

      img {
        width: 100%;
        height: auto;
        max-width: 100%;
        display: block;
      }
    }

    li + li {
      margin-top: 16px;
    }
  }
}
