@use "../../../styles/mixin" as m;

// About
.TasteAbout {
  position: relative;
  z-index: var(--z-index-elevation-1);
  padding: 160px 0 100px 220px;
  background-color: var(--color-base-background);

  @include m.respondToSm {
    padding: 80px 0;
  }

  .TasteAbout__body {
    display: flex;
    justify-content: space-between;
    gap: 60px;

    @include m.respondToSm {
      flex-direction: column;
      padding: 0 20px;
    }
  }

  .TasteAbout__texts {
    padding-top: 200px;
    width: 100%;

    @include m.respondToSm {
      padding-top: initial;
    }
  }

  .TasteAbout__title {
    padding-bottom: 28px;
    color: var(--color-black);
    border-bottom: 1px solid var(--color-border-gray);
  }

  .TasteAbout__titleJp {
    font-size: 20px;
  }

  .TasteAbout__titleEn {
    margin-top: 4px;
    color: var(--color-text-gray-2);
    font-size: 17px;
    line-height: 1;
  }

  .TasteAbout__content {
    margin-top: 28px;
    display: flex;
    gap: 60px;
    justify-content: start;

    @include m.respondToSm {
      flex-direction: column;
    }
  }

  .TasteAbout__contentJp {
    min-width: 306px;
    font-family: var(--font-family-text-jp);
    font-size: 14px;
    color: var(--color-black);
    line-height: 2;
    letter-spacing: var(--letter-space-text-jp);
  }

  .TasteAbout__contentEn {
    min-width: 306px;
    font-family: var(--font-family-text-en);
    font-size: 16px;
    color: var(--color-text-gray);
    line-height: 1.4;
    letter-spacing: var(--letter-space-text-en);
  }

  .TasteAbout__parallaxWrapper {
    width: 40%;

    @include m.respondToSm {
      display: none;
    }
  }

  .TasteAbout__image {
    max-height: 720px;
    object-fit: cover;
    aspect-ratio: 800 / 1600;
    border-radius: 40px 0 0 40px;

    @include m.respondToSm {
      width: 100%;
      max-height: calc(100vh - 80px);
      border-radius: 40px;
    }
  }

  .TasteAbout__lowerImage {
    margin-top: 200px;
    width: calc(100% - 100px);
    max-height: 420px;
    object-fit: cover;
    aspect-ratio: 800 / 1600;
    border-radius: 40px;
  }
}
