@use "../../../styles/mixin" as m;

.TastePhilosophy {
  padding: 200px 320px;
  color: var(--color-dark);

  display: flex;
  gap: 200px;

  @include m.respondToMd {
    grid-template-columns: 1fr;
    column-gap: 0;
  }

  .TastePhilosophy__left {
    width: fit-content;
  }

  .TastePhilosophy__sticky {
    position: sticky;
    top: 200px;
    z-index: 999;
  }

  .TastePhilosophy__category {
    margin-top: 88px;
    font-size: 16px;
    font-family: var(--font-family-serif, cochin, serif);
    font-style: italic;
    letter-spacing: 0.04em;
  }

  .TastePhilosophy__right {
    position: relative;
    z-index: 999;
    align-self: start;
    width: 380px;
  }

  .TastePhilosophy__bodyWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 100vh 0;
    max-width: 380px;
  }

  .TastePhilosophy__body {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.04em;
    white-space: pre-wrap;
  }
}
