@use "../../styles/mixin" as m;

.Bar {
  $padding-frame-vertical: 40px;
  $padding-frame-horizontal: 48px;

  width: 100%;
  min-width: 1249px;
  height: auto;

  @include m.respondToSm {
    padding: 16px;
  }

  .Bar__contents {
    position: relative;
    z-index: var(--z-index-elevation-1);
    margin-top: -52px;
    padding: 60px 0;
    width: 100%;
    background-color: var(--color-base-background);
    border-radius: 60px;
  }
}
