@use "../../../styles/mixin" as m;

.CategoryLabel {
  display: block;
  position: fixed;
  top: 44px;
  left: 40px;
  font-family: cochin, serif;
  font-size: 14px;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--color-white);
  z-index: 2;
  transition-duration: 2s;
  transition-property: color;

  @include m.respondToMd {
    top: 16px;
    left: 16px;
    font-size: 12px;
  }

  .CategoryLabel__title {
    position: relative;
    width: fit-content;

    &::after {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--color-white);
      transition-duration: 2s;
    }
  }

  .CategoryLabel__text {
    margin-top: 24px;
    line-height: 1.8;
  }

  .CategoryLabel__textFirst {
    position: relative;
    display: block;
    width: fit-content;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: calc(-72% - 4px);
      width: 72%;
      height: 1px;
      background-color: var(--color-white);
      transition-duration: 2s;
    }
  }
}

html[data-hero-latched] .CategoryLabel {
  top: initial;
  bottom: 44px;
  color: var(--color-dark);
  z-index: 999;

  @include m.respondToMd {
    display: flex;
    align-items: center;
    gap: 24px;
    top: initial;
    left: initial;
    right: -216px;
    bottom: 272px;
    font-size: 12px;
    transform-origin: bottom left;
    transform: rotate(90deg);
  }

  .CategoryLabel__title {
    &::after {
      background-color: var(--color-dark);

      @include m.respondToMd {
        bottom: -2px;
      }
    }
  }

  .CategoryLabel__text {
    @include m.respondToMd {
      margin-top: initial;
      display: flex;
      align-items: center;
      gap: 44px;
    }
  }

  .CategoryLabel__textFirst {
    &::after {
      background-color: var(--color-dark);
    }
  }
}
