@use "../../../styles/mixin" as m;

.TasteMenu {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
  z-index: var(--z-index-elevation-4);
  font-family: var(--font-family-serif, cochin, serif);
  font-size: 18px;
  letter-spacing: 0.02em;
  text-align: right;
  transition-duration: 2s;

  @include m.respondToMd {
    top: 180px;
    transform: translateY(0);
    right: 16px;
  }

  .TasteMenu__line {
    position: absolute;
    top: -80%;
    right: 0;
    width: 360px;
    max-width: initial;
    height: auto;

    @include m.respondToMd {
      display: none;
    }
  }

  .TasteMenu__icon {
    @include m.respondToMd {
      width: 48px;
      height: 22px;
    }
  }

  ul {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 28px;

    @include m.respondToMd {
      display: none;
    }
  }
}

html[data-hero-latched] .TasteMenu {
  color: var(--color-dark);
}
