@use "../../../styles/mixin" as m;

.TasteMenu {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
  z-index: 2;
  font-family: var(--font-family-serif, cochin, serif);
  font-size: 18px;
  letter-spacing: 0.02em;
  text-align: right;

  .TasteMenu__line {
    position: absolute;
    top: -80%;
    right: 0;
    width: 372px;
    max-width: initial;
    height: auto;
  }

  .TasteMenu__icon {
  }

  ul {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 28px;
  }
}
