@use "../../styles/mixin" as m;

.Taste {
  $padding-frame-vertical: 40px;
  $padding-frame-horizontal: 48px;

  width: 100%;
  min-width: 1249px;
  height: auto;

  @include m.respondToSm {
    width: 100%;
    min-width: initial;
  }

  .Taste__noise {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    opacity: 0.03;
  }

  .Taste__noiseGif {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(/public/taste/noise.gif);
  }

  .Taste__contents {
    position: relative;
    z-index: var(--z-index-elevation-1);
    margin-top: -52px;
    padding: 60px 0;
    width: 100%;
    background-color: var(--color-base-background);
    border-radius: 60px;

    @include m.respondToSm {
      border-radius: 28px;
    }
  }
}
