@use "../../styles/mixin" as m;

.Taste {
  $padding-frame-vertical: 40px;
  $padding-frame-horizontal: 48px;

  width: 100%;
  min-width: 1249px;
  height: auto;

  @include m.respondToSm {
    width: 100%;
    min-width: initial;
    // overflow: hidden;
  }

  .Taste__contents {
    position: relative;
    z-index: var(--z-index-elevation-1);
    margin-top: -52px;
    padding: 60px 0;
    width: 100%;
    background-color: var(--color-base-background);
    border-radius: 60px;

    @include m.respondToSm {
      border-radius: 28px;
    }
  }
}
