@use "../../../styles/mixin" as m;

.TasteAccess {
  position: relative;
  padding: 40vh 300px;
  margin-top: -1px;
  z-index: 10;
  color: var(--color-dark);
  background-color: var(--color-taste-background);

  .TasteAccess__heading {
    position: sticky;
    top: 200px;
    z-index: 1;
    width: fit-content;
  }

  .TasteAccess__stickyHeading {
  }

  .TasteAccess__category {
    margin-top: 88px;
    font-size: 16px;
    font-family: var(--font-family-serif, cochin, serif);
    font-style: italic;
    letter-spacing: 0.04em;
  }
}
